<header class="boxShadow">
  <nav class="content">
    <a class="logo" href="/"><%= image_tag "main/logo.png" %></a>
    <div class="jayNav">
      <div class="topNav">
        <div class="navSearch">
          <form>
            <i class="btr bt-shopping-cart bt-lg"></i>
            <i class="btr bt-user bt-lg"></i>
            <input type="text" placeholder="請輸入關鍵字">
            <button type="submit"><i class="btr bt-search bt-lg"></i></button>
          </form>
        </div>
      </div>
      <ul class="bottomNav">
        <li class="parentNav"><a href="javascript:;"><%= image_tag "main/iconNew.png" %>最新商品</a>
          <ul class="childrenNav">
            <li class="subject"><a href="javascript:;">最新女童<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">

                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>

              </ul>
            </li>
            <li class="subject"><a href="javascript:;">最新男童<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>
              </ul>
            </li>
            <li class="subject"><a href="javascript:;">最新嬰幼兒<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">

                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>

              </ul>
            </li>
            </li>
          </ul>

        <li class="parentNav"><a href="javascript:;"><%= image_tag "main/iconGirl.png" %>可愛女童</a>
          <ul class="childrenNav">
            <li class="subject"><a href="javascript:;">小女童上著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">

                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>

              </ul>
            </li>
            <li class="subject"><a href="javascript:;">小女童下著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>

              </ul>
            </li>
            <li class="subject"><a href="javascript:;">大女孩上著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>

              </ul>
            </li>
            <li class="subject"><a href="javascript:;">大女孩下著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="parentNav"><a href="javascript:;"><%= image_tag "main/iconBoy.png" %>帥氣男童</a>
          <ul class="childrenNav">
            <li class="subject"><a href="javascript:;">小男童上著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>
              </ul>
            </li>
            <li class="subject"><a href="javascript:;">小男童下著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>
              </ul>
            </li>
            <li class="subject"><a href="javascript:;">大男孩上著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>
              </ul>
            </li>
            <li class="subject"><a href="javascript:;">大男孩下著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="parentNav"><a href="javascript:;"><%= image_tag "main/iconBaby.png" %>嬰幼兒</a>
          <ul class="childrenNav">
            <li class="subject"><a href="javascript:;">嬰幼兒上著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">T 恤</a></li>
                <li><a href="javascript:;">背心</a></li>
                <li><a href="javascript:;">短袖</a></li>
                <li><a href="javascript:;">長袖</a></li>
                <li><a href="javascript:;">襯衫</a></li>
                <li><a href="javascript:;">針織衫</a></li>
                <li><a href="javascript:;">吊帶裙</a></li>
                <li><a href="javascript:;">洋裝</a></li>
                <li><a href="javascript:;">外套</a></li>
              </ul>
            </li>
            <li class="subject"><a href="javascript:;">嬰幼兒下著<i class="btr bt-caret-left bt-sm"></i></a>
              <ul class="grandsonNav">
                <li><a href="javascript:;">短褲</a></li>
                <li><a href="javascript:;">七分褲</a></li>
                <li><a href="javascript:;">群類</a></li>
                <li><a href="javascript:;">內搭褲</a></li>
                <li><a href="javascript:;">長褲</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="parentNav subject"><a href="javascript:;"><%= image_tag "main/iconBrain.png" %>人氣品牌</a>
          <ul class="childrenNav">
            <li><a href="javascript:;">米果</a></li>
            <li><a href="javascript:;">豆山</a></li>
            <li><a href="javascript:;">瑪瑪米亞</a></li>
            <li><a href="javascript:;">瑪寶樂</a></li>
            <li><a href="javascript:;">波提士</a></li>
          </ul>
        </li>
        <li class="parentNav member"><a href="javascript:;"><%= image_tag "main/iconUser.png" %>會員中心</a>
          <ul class="childrenNav">
            <li><a href="javascript:;">訂單查詢</a></li>
            <li><a href="javascript:;">退款查詢</a></li>
            <li><a href="javascript:;">捷幣存褶</a></li>
            <li><a href="javascript:;">個人設定</a></li>
            <li><a href="javascript:;">門市查詢</a></li>
          </ul>

        </li>
        <li class="parentNav member"><a href="javascript:;"><i class="btr bt-shopping-cart bt-lg"></i>0件商品</a>
          <ul class="childrenNav proList">
            <div class="proBox">
              <span class="proImg" style=background-image:url(<%= image_path('index/product0.jpg')%>)></span>
									<span class="proInfo">
										<p>DooSun豆山</p>
										<p>花拼接領條紋無袖上衣</p>
										<p class="en">x1 NT$ 6600</p>
									</span>
            </div>
            <p><span class="proPrize">總額</span><span class="enPrize en">NT$6600</span></p>
            <a class="proBtn" href="">購物車</a>
            <a class="proBtn" href="">結帳</a>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>