<header class="boxShadow">
  <nav class="content">
    <a class="logo" href="/"><%= image_tag "main/logo.png"%></a>
    <div class="jayNav">
      <div class="topNav">
        <div class="navSearch">
          <form>
            <input type="text" placeholder="請輸入關鍵字"><button type="submit"><i class="btr bt-search bt-lg"></i></button>
            <i class="btr bt-search bt-lg"></i>
            <i class="btr bt-shopping-cart bt-lg"></i>
            <i class="btr bt-user bt-lg"></i>
          </form>
        </div>
      </div>
      <ul class="bottomNav">
        <li id="new"  class="parentNav"><a href="/sites/products?category=1"><%= image_tag "main/iconNew.png" %>最新商品</a>
        <li id="girl" class="parentNav"><a href="/sites/products?category=2"><%= image_tag "main/iconGirl.png" %>可愛女童</a></li>
        <li id="boy" class="parentNav"><a href="/sites/products?category=3"><%= image_tag "main/iconBoy.png" %>帥氣男童</a></li>
        <li id="baby" class="parentNav"><a href="/sites/products?category=4"><%= image_tag "main/iconBaby.png" %>嬰幼兒</a></li>
        <li id="brands" class="parentNav subject"><a href="/sites/products?category=5"><%= image_tag "main/iconBrain.png" %>人氣品牌</a></li>
        <li id="member" class="parentNav member"><a href="javascript:;"><%= image_tag "main/iconUser.png" %>會員中心</a>
          <ul class="childrenNav">
            <li>
              <a href="member/login.html" class="login">
                <i class="btr bt-sign-in bt-lg"></i>會員登入
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="btr bt-crown bt-lg"></i>會員註冊
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="btr bt-shopping-cart bt-lg"></i>訂單查詢
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="btr bt-reply-all bt-lg"></i>退款查詢
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="btr bt-money bt-lg"></i>捷幣存褶
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="btr bt-gear bt-lg"></i>個人設定
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="btr bt-home bt-lg"></i>門市查詢
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="btr bt-sign-out bt-lg"></i>會員登出
              </a>
            </li>

          </ul>
        </li>
        <li id="proList" class="parentNav member"><a href="javascript:;"><i class="btr bt-shopping-cart bt-lg"></i>0件商品</a>
          <ul class="childrenNav proList">
            <div class="proBox">
              <span class="proImg" style=background-image:url(<%= image_url "index/product0.jpg" %>)></span>
              <span class="proInfo">
										<p class="proSubjet">DooSun豆山</p>
										<p class="proSubjet">花拼接領條紋無袖上衣</p>
										<p class="en">x1 NT$ 600</p>
									</span>
            </div>
            <p><span class="proPrize">總額</span><span class="enPrize en">NT$6600</span></p>
            <a class="proBtn" href="">購物車</a>
            <a class="proBtn" href="">結帳</a>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="nav new">
  <ul class="nav__list ">
    <% menus = categoryMenu Category.where(id: 1) %>
    <% menus.each do |menu| %>
      <%= render 'layouts_partial/category_menu', :menus => menu['children'] %>
    <%end%>
  </ul>
</div>
<div class="nav girl">
  <ul class="nav__list ">
    <% menus = categoryMenu Category.where(id: 2) %>
    <% menus.each do |menu| %>
        <%= render 'layouts_partial/category_menu', :menus => menu['children'] %>
    <%end%>
  </ul>
</div>
<div class="nav boy">
  <ul class="nav__list ">
    <% menus = categoryMenu Category.where(id: 3) %>
    <% menus.each do |menu| %>
        <%= render 'layouts_partial/category_menu', :menus => menu['children'] %>
    <%end%>
  </ul>
</div>
<div class="nav baby">
  <ul class="nav__list ">
    <% menus = categoryMenu Category.where(id: 4) %>
    <% menus.each do |menu| %>
        <%= render 'layouts_partial/category_menu', :menus => menu['children'] %>
    <%end%>
  </ul>
</div>
<div class="nav brands">
  <ul class="nav__list ">
    <% menus = categoryMenu Category.where(id: 5) %>
    <% menus.each do |menu| %>
        <%= render 'layouts_partial/category_menu', :menus => menu['children'] %>
    <%end%>
  </ul>
</div>