<article class="brand">
  <a href=<%= data.sub_grids[7].link %> >
    <%= image_tag data.sub_grids[7].picture.url %>
  </a>
  <a href=<%= data.sub_grids[6].link %> >
    <%= image_tag data.sub_grids[6].picture.url %>
  </a>
  <a href=<%= data.sub_grids[5].link %> >
    <%= image_tag data.sub_grids[5].picture.url %>
  </a>
  <a href=<%= data.sub_grids[4].link %> >
    <%= image_tag data.sub_grids[4].picture.url %>
  </a>
  <a href=<%= data.sub_grids[3].link %> >
    <%= image_tag data.sub_grids[3].picture.url %>
  </a>
  <a href=<%= data.sub_grids[2].link %> >
    <%= image_tag data.sub_grids[2].picture.url %>
  </a>
  <a href=<%= data.sub_grids[1].link %> >
    <%= image_tag data.sub_grids[1].picture.url %>
  </a>
  <a href=<%= data.sub_grids[0].link %> >
    <%= image_tag data.sub_grids[0].picture.url %>
  </a>
</article>