<a class="items" href=<%= "/sites/#{data.id}" %><%= "?category=#{params[:category]}" unless params[:category].nil? %> >
  <div  class="itemsImg" style="background-image:url(<%= image_path data.sub_product_colors.first.pictures.first.asset if data.sub_product_colors.first.pictures.empty? == false %>)">
  </div>
  <p class="proNum"><%= "#{data.caption}" %></p>
  <p class="proTitle"><%= "#{data.sub_caption}" %></p>
  <p class="proMoney">
    <span class="before en"><%= "NT$#{data.unit_price.to_i}" %></span>
    <span class="after">
      活動價<span class="en"><span class="nt en">NT$</span><%= "#{data.sale_price.to_i}" %></span>
    </span>
  </p>
</a>