<a href=<%= "/sites/#{data.id}" %> class="items">
  <div  class="itemsImg" style="background-image:url(<%= image_path data.sub_product_colors.first.pictures.first.asset unless data.sub_product_colors.first.sub_products.nil? || data.sub_product_colors.first.pictures.first.nil? %>)">
  </div>
  <p class="proNum"><%= "#{data.caption}" %></p>
  <p class="proTitle"><%= "#{data.sub_caption}" %></p>
  <p class="proMoney">
    <span class="before en"><%= "NT$#{data.unit_price.to_i}" %></span>
    <span class="after">
      活動價<span class="en"><span class="nt en">NT$</span><%= "#{data.sale_price.to_i}" %></span>
    </span>
  </p>
</a>