<div class="leftContent">
  <%= image_tag "about/about.png" %>
  <p class="aboutTitle">關於捷比</p>
  <ul>
    <li>
      <%= link_to "品牌故事", about_sites_path %>
    </li>
    <li>
      <%= link_to "商家資訊", store_sites_path %>
    </li>
    <li>
      <%= link_to "隱私權政策", copyright_sites_path %>
    </li>
    <li>
      <%= link_to "購物須知", notice_sites_path %>
    </li>
    <li>
      <%= link_to "常見問題", qa_sites_path %>
    </li>
  </ul>
</div>