<%= stylesheet_link_tag 'css/login' %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="login">
    <div class="loginBox r">
      <h1>會員登入</h1>
      <p><%= f.email_field :email, autofocus: true, placeholder: "電子郵件" %></p>
      <p><%= f.password_field :password, autocomplete: "off", placeholder: "密碼" %></p>
      <p class="resend">
        <%= render "users/shared/links" %>
      </p>
      <%= f.button "登入" %>
    </div>
    <div class="loginBox l">
      <%= link_to "<i class='fab fab-facebook-alt bt-lg'></i><span class='en'>facebook</span>登入".html_safe, omniauth_authorize_path(resource_name, :facebook), class: "facebook" %>
      <%= link_to "<i class='fab fab-google-alt bt-lg'></i><span class='en'>google</span>登入".html_safe, omniauth_authorize_path(resource_name, :google_oauth2), class: "google" %>
    </div>
  </div>
<% end %>
