<%= stylesheet_link_tag 'css/login' %>
<link rel="stylesheet" media="all" href="/assets/libCss/black-tie.min.self-4aead90e884761862d0e3bd345563a00438753b3dd8a8ed082d2c7b3aa200651.css?body=1" />
<%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
  <div id="login">
    <div class="loginBox r">
      <h1>會員登入</h1>
      <p><%= f.email_field :email, autofocus: true, placeholder: "電子郵件" %></p>
      <p><%= f.password_field :password, autocomplete: "off", placeholder: "密碼" %></p>
      <p class="resend">
        <%= render "users/shared/links" %>
      </p>
      <%= f.button "登入" %>
    </div>
    <div class="loginBox l">
      <%= link_to "<i class='fab fab-facebook-alt bt-lg'></i><span class='en'>facebook</span>登入".html_safe, omniauth_authorize_path(resource_name, :facebook), class: "facebook", target: :_top %>
      <%= link_to "<i class='fab fab-google-alt bt-lg'></i><span class='en'>google</span>登入".html_safe, omniauth_authorize_path(resource_name, :google_oauth2), class: "google", target: :_top %>


    </div>
  </div>

<% end %>


<script type="text/javascript" charset="utf-8">
$(function(){
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  $(".new_user").on("ajax:success", function(e, data, status, xhr){
    parent.window.location = '/'
  }).on("ajax:error", function(e, data, status, xhr) {
    PNotify.prototype.options.styling = "jqueryui";
    new PNotify({
      title: '登入失敗',
      text: data.responseText
    });
  });
});
</script>