<%= stylesheet_link_tag 'css/about', :media => 'all' %>
<%= render 'layouts_partial/left_content' %>
<div class="rightContent">
  <article class="bread">
    <a href="/">首頁</a> > <%= link_to "購物須知", notice_sites_path %>
  </article>
  <article class="coinTab">
    <input id="buyerNotice" class="tabItems" value="購物須知" type="button">
    <input id="payNotice" class="tabItems" value="付款說明" type="button">
    <input id="refoundNotice" class="tabItems" value="退換貨須知" type="button">
    <input id="shipNotice" class="tabItems" value="運費計算" type="button">
  </article>
  <artile class="aboutCenter">

    <section class="buyerNotice">

      <div class="straightTab straightTab_odd">
        <h5>購物流程<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">

        <h6>第一次購物</h6>
        <p>
          選擇商品→加入購物車→點選左邊【結帳】→查看購物清單內容是否無誤→下一步→出現登入視窗，
          點選【加入會員】→填寫正確會員資料。<br>注意︰請填寫有效正確的電子郵件，並注意手機號碼為10碼。

        </p>

        <h6>非第一次購物</h6>
        <p>
          選擇商品→加入購物車→點選左邊【結帳】→查看購物清單內容是否無誤→下一步→出現登入視窗，輸入帳號密碼→
          選擇【付款方式】及購物金之使用→下一步→輸入【付款資料】及【收件人資料】→下一步，送出

        </p>

      </div>

      <div class="straightTab">
        <h5>選購注意事項<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          每款的版子均不同，請確實參考頁面提供的尺寸測量表選擇要購買的尺寸。
          （每款衣物和褲子皆因布料、彈性、丈量等因素，誤差在正負２公分以內為正常範圍。）
        </p>

        <p>
          色差問題︰<br>商品圖檔顏色因每台電腦螢幕、解析度、品牌皆不同，無法保證與實際商品顏色完全符合，若對色差非常介意者，請勿下標。
        </p>

        <p>
          同一日期訂貨，訂購人和收件人地址相同，捷比童裝將合併出貨。
        </p>

        <p>
          商品加入購物車但未結帳前，並無保留商品庫存功能，商品庫存分配將以結帳順序為依據。
        </p>

        <p>
          單成立後，為避免影響商品庫存及避免帳務錯誤，不可再修改，若要加訂、修改商品尺寸，請電洽客服。<br>※提醒您，在送出訂單前，請多加確認商品數量及尺寸，以減少無法修改訂單所造成的困擾喔！

        </p>
        <p>
          商品有任何問題可利用mail信箱，或直接撥打客服電話０５－２７８５３６９。
          ※為了避免郵件無法收到，而未能即時為您服務，請先加入會員喔！

        </p>
        <p>
          感謝您於捷比童裝購買商品，請於訂單成立後三天內完成付款，本網站於訂單成立後第三天內發送【交易提醒】，提醒您須於期限內完成付款，第五天再發送一則【交易提醒】，提醒您若尚未完成付款，請於【延遲期限】內完成付款，並告知若無法於延遲期限內完成交易，將視同取消交易。交易取消若達三筆，為維護廣大客戶，履行公平交易原則之下，將會取消您的會員權益加入黑名單（視為未履行交易)，請大家務必珍惜購物權益。<br>
          ※信件採E-mail發送，奇摩有漏信的問題，請注意垃圾信件，有問題時請於上班時間來電洽詢。班時間來電洽詢。

        </p>

      </div>

      <div class="straightTab straightTab_odd">
        <h5>關於發票<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          訂單將隨貨附上二聯式實體發票，辦理退貨時需將實體發票隨貨退回 依國稅局規定，應按時序開立，請勿日期顛倒，恕無法指定開立日期及其它品名。一筆訂單對應一張發票，恕無法分別開立多張。如有分別開立需求，請將商品分別下單。
        </p>
        <p>

          若收到發票，統編有錯或金額不對，您可先聯繫客服人員告知此情形，請在當月底前將原發票寄回本公司以便重開立發票，並請清楚註明您欲開立之正確資料和寄回地址即可。
        </p>
        <p>
          若您欲將二聯發票改開立三聯須再附上回郵信封（貼掛號郵票）。

        </p>
      </div>

      <div class="straightTab">
        <h5>關於退款<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          退款方式將依照您當初付款方式進行後續退款：
        </p>

        <p>
          收到退貨檢查無誤，七個工作天內進行退款程序。
        </p>

        <p>
          若退貨後總訂單商品金額未達免運費門檻，將扣除出貨時的物流服務費後，再進行後續退款程序。

        </p>

        <p>
          信用卡線上付款: <br>若您以信用卡付款，我們將於收到退貨的七個工作天內，為您完成款項刷退程序，請您留意下期帳單。待退款完成後，系統會自動發送退款完成通知信給您，您可以和發卡銀行進行確認。

        </p>

        <p>
          信用卡退刷時間會因個人信用卡結帳週期不同，而影響退刷款項完成時間，退款金額可能會移到下期信用卡帳單上，
          請您留意下期信用卡帳單，或向您的信用卡發卡銀行洽詢。

        </p>

        <p>
          其它付款方式︰ <br>
          收到退貨檢查無誤，將於七日內把退款，轉入您的捷比童裝「購物金帳戶」中。可登入會員後至「會員中心」查詢。

        </p>
      </div>




    </section>
    <section class="payNotice">

      <div class="straightTab straightTab_odd" >
        <h5>信用卡線上刷卡 <i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          本系統是透過國泰世華銀行，刷卡過程您的卡號全程加密，相關資訊也完全不會留存在捷比童裝資料庫，確保您的交易安全。
        </p>
        <%= image_tag "about/notice.jpg" %>
      </div>

      <div class="straightTab">
        <h5>ATM轉帳<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          本購物網站會給您一組16碼的虛擬繳款帳號，每筆交易所產生的虛擬繳款帳號均不相同，所以請勿重覆匯入哦！
        </p>
        <p>
          當匯款完成後，系統將自動核對款項，確認款項無誤商品將於二至三日內(不含例假日)出貨。
        </p>

        <p>
          系統產生的虛擬帳號限期為3天(含例假日）。例如繳款期限是 10/13日(週日)，10/13日的晚間11:59以前都可以轉帳。
        </p>

        <p>
          當您選擇付款方式為【ATM轉帳】時，下一步，會出現填寫收件人基本資料畫面，請往下移就可看到【選擇付款方式】。
        <h6>實體ATM︰</h6>
        <p>
          請至ATM滙款，虛擬繳款帳戶與一般開戶帳號無異，可利用各銀行的ATM自動提款機以金融卡進行轉帳付款。
        </p>
        <%= image_tag "about/notice1.jpg" %>
        <h6>網路ATM︰</h6>
        <p>
          任何一家銀行所發的晶片金融卡，不用額外申請，都可以上網使用國泰世華銀行「網路ATM」服務！
        </p>

        <p>
          只要在個人的PC或Mac安裝晶片讀卡機設備，於網路ATM上進行轉帳服務！
        </p>

        <p>
          如果畫面出現提示需安裝Java 虛擬機器(JVM)或Java Runtime Environment(JRE)。
        </p>
        <%= image_tag "about/notice2.jpg", style:"width:451px"  %>
        <h2>您在非IE瀏覽器上使用MyATM需事先安裝Sun Java version 6 Update 21以上版本，請至www.java.com 依畫面指示進行JRE安裝。 </h2>
      </div>

      <div class="straightTab straightTab_odd">
        <h5>郵局帳戶轉帳<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent" >
        <p>
          郵局代號︰ 700<br>局號︰ 005100-8<br>帳號︰ 180997-2      <br>戶名︰ 蔡雅惠
        </p>
        <h2>
          若您使用郵局ATM轉帳，請正確告知您實際轉帳的存褶末五碼。
        </h2>
        <p>
          帳號末五碼填寫注意事項：填寫帳號時請注意，提款卡卡號不一定等於存褶帳號，請以存褶帳號為準。
        </p>
      </div>

      <div class="straightTab">
        <h5>郵局無摺現金存款<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          請在備註欄填寫辦理郵局的局號，以利對帳。(局號在郵局存根聯上的戳印就會看到）
        </p>
      </div>

      <div class="straightTab straightTab_odd">
        <h5>7-11取貨付款/純取貨<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent" >
        <h6>7-11取貨付款</h6>
        <p>
          待收到「門市取貨」簡訊後，請至您所指定之門市，取貨時告知店員您的姓名，確認包裹姓名是否正確，並支付訂購商品金額即可領取商品。
        </p>

        <h6>7-11純取貨︰(必須先匯款完成)</h6>
        <p>
          須由收件者本人攜帶身份證至門市核對身份並於標籤處簽名後才可領取商品。
        </p>
        <h2>
          提醒您︰因超商有一定的作業流程，恕無法延長取貨期限，商品送達門市日起算5日內請務必完成取件，滿2次未於通知期限內完成門巿取貨，將會被列入黑名單，以後將停止您的帳號使用全家店到店取貨服務！
        </h2>
        <%= image_tag "about/notice3.jpg" %>
      </div>

      <div class="straightTab">
        <h5>貨到付款<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          外島地區不接受貨到付款服務
        </p>

        <p>
          不需事先付款，宅配人員到達直接付款即可。宅配人員僅提供送件及代收款項的服務，若會員對收到的商品有任何問題，請上網與客服連絡，配送人員是無法為您辦理退貨，目前貨到付款，僅接受現金付款喔！(「貨到付款」服務僅限台灣本島，敬請見諒。)
          以下金額為折扣後金額
        </p>

        <table>
          <tr>
            <th>運　費</th>
            <th>貨到付款（代收款）</th>
            <th>合計應收現金</th>
          </tr>
          <tr>
            <td>未滿1000元，運費70元</td>
            <td>未滿1000元，貨到付款，代收款手續費30元	</td>
            <td>70＋30＝100元＋商品金額</td>
          </tr>
          <tr>
            <td>1000元(含)-1999元，運費0元</td>
            <td>未滿2000元，貨到付款，代收款手續費30元</td>
            <td>0＋30＝30元＋商品金額</td>
          </tr>
          <tr>
            <td>2000元以上(含)，運費0元</td>
            <td>滿2000元，貨到付款，代收款手續費0元</td>
            <td>0＋30＝0元＋商品金額</td>
          </tr>
        </table>
      </div>
      <div class="straightTab straightTab_odd">
        <h5>防詐騙165 <i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent" >
        <h6>
          詐騙集團慣用手法︰
        </h6>
        <h2>
          若您使用郵局ATM轉帳，請正確告知您實際轉帳的存褶末五碼。
        </h2>
        <p>
          假借捷比童裝客服人員名義向您告知匯款帳號錯誤!!! 來電假裝捷比童裝，並謊稱您在刷卡時錯刷分期付款，本網站絕無分期付款的情況出現，捷比童裝在非上班時間致電給您，切誤相信並且切誤聽從指示前往ATM轉帳，如您有接獲詐騙電話，請保持冷靜，記錄來電號碼，並請撥打165反詐騙專線， 網路詐騙手法不斷翻新,實在令人難以捉摸，請您在接獲任何無來電顯示,或者陌生人來電，切勿相信，也不須理會。

        </p>
        <p>
          如遇疑似詐騙電話請撥打內政部警政署「165反詐騙諮詢專線」專屬網站 或致電客服05-2785369

        </p>
      </div>

    </section>
    <section class="refoundNotice">

      <div class="straightTab straightTab_odd" >
        <h5>注意事項<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          如因退貨造成訂單純商品金額購物未達免運費標準，仍將於退貨退款時加計原訂單之７０元宅配費用； 若原先符合滿額贈活動，後來因退貨而未達活動標準時，也需煩請您將滿額贈品一併退回喔。
          退換貨所產生的金額，一律轉『購物金』。

        </p>

        <p>
          每張訂單僅提供乙次換貨服務（僅限服務，非指全部免費，有關規定請詳閱）
          若非瑕疵商品請自行負擔寄送運費，瑕疵商品請詳閱以下有關其相關事項。
        </p>

        <p>
          若於七日內因個人因素需換貨，請先確認商品無剪標剪卡及下水，買家須自行負擔寄送運費。
        </p>

        <p>
          因每位買家寄收貨物習慣不同，須宅配到府收件者，請來電告知才會提供此項服務，若非瑕疵品或寄錯商品，到付收件運費７０元宅配費用將由款項中扣除。
        </p>

        <p>
          為避免發生爭議，請確實驗收商品，換貨商品(不含非瑕疵或寄錯商品)扣除退貨金額之後，若不足優惠折扣，將計算其價差於退貨金額中扣除。

        </p>
        <h2>
          ※ 退貨時，請連同「發票」及滿額贈品一併退回。
        </h2>
      </div>

      <div class="straightTab">
        <h5>瑕疵商品<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          請將照片寄至bearbear0520@yahoo.com.tw信箱，留下聯絡資料，並與客服聯絡，告知瑕疵狀況，確認是否符合瑕疵！
        </p>
        <p>
          瑕疵的定義︰嚴重破損、嚴重脫線、大片髒污、拉鍊壞掉等明顯瑕疵。
        </p>

        <p>
          非瑕疵定義︰下過水、吊牌已拆、人為因素、輕微脫線或勾針、尺寸不合、不適合穿、與想像不符、有色差。
        </p>

      </div>

      <div class="straightTab straightTab_odd">
        <h5>無法更換的商品<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent" >
        <p>
          如，沾染污漬、商品配件不全、吊牌拆標、已自行修改、下水洗滌，恕不受理退換貨。
        </p>

        <p>
          本購物網站特價商品將會另有規範，購物前前先詳閱。
        </p>
      </div>

      <div class="straightTab">
        <h5>更換款式或顏色<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          因買家個人因素須自行負擔來回更換商品的郵資請來電或E-mail，與客服人員聯絡，確認有無商品可更換，請勿在確認前將商品自行寄回！
        </p>
      </div>

      <div class="straightTab straightTab_odd">
        <h5>郵資計算方式<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent" >
        <p>
          1、判定為瑕疵品或商品寄錯，則會退還您寄回的郵資。（補貼郵資上限為70元）
        </p>

        <p>
          2、雙方各自負擔－瑕疪/寄錯商品，又加購其它商品，則不退您寄回的郵資。
        </p>

        <p>
          3、若須派車到府收件，則酌收郵資７０元。
        </p>
        <h2>
          請於收到包裹後七天內檢查與試穿，確定商品狀況，若有瑕疵、尺寸等問題，請與客服聯絡，並在客服確認後於三天內（不含假日）寄回，逾期恕不受理。
        </h2>

        <h2>
          收到您寄回的商品並確認無誤後，將於五個工作天內為您辦理。
        </h2>
      </div>


    </section>

    <section class="shipNotice">

      <div class="straightTab straightTab_odd" >
        <h5>配送方式<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent">
        <p>
          本購物網提供「大嘴鳥宅配通」、「新竹物流（貨運）」、「郵局」、「全家店到店(須先完成付款)」、7-11等配送方式。

        </p>

        <p>
          1.郵局寄件︰存局候領、郵政信箱、外島。（外暫島不提供存局候領和郵政信箱寄件方式）
        </p>

        <p>
          2.宅配通︰本島配送。
        </p>

        <p>
          3.新竹物流︰本島配送。
        </p>

        <p>
          4.超商取貨（全家店到店）︰需先匯款，核對確認，即會寄件。<br>
          全家店到店配送請於備註欄位，正確填寫取件門市代碼或名稱， 外島地地區亦可使用全家店到店取貨，但物流時間較長無法預估天數，若你要於時間內拿到貨，不建議使用。
        </p>

        <p>
          5.超商取貨（7-11）︰暫不受理外島，若指定7-11純取貨，需先滙款或刷卡完成。
          ◎便利超商︰ 購物2000以內（不含禮盒）才可以使用 。<br>
          如忘記取件需要補寄，為避免再次未取，補寄一律使用宅配通/新竹物流寄出， 您【需負擔退回郵資70元+70元補寄郵資】。 <br>
          若您選擇不補寄，日後成立新訂單，仍需負擔本次包裹退回運費70元。
        </p>

        <p>
          注意︰若您手機門號本身預設拒收廣告簡訊功能，可能將收不到超商取貨通知簡訊。<br>
          提醒您在期限內(約二至三天）致電您指定之取貨超商門市詢問或前往確認是否已到貨， 如有問題請來電客服。
        </p>

        <h2>
          商品超過超商限制規格尺寸，一律以郵局包裹或宅配通/新竹物流寄件。 ※除了外島地區，其餘本島地區皆以宅配通/新竹物流寄送。
        </h2>
      </div>

      <div class="straightTab">
        <h5>運費計算<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <h6>一般情形︰</h6>
        <p>
          1.單次全館購物滿1000元（折扣後），則可享免運費。
        </p>
        <p>
          2.單次全館購物未滿1000元（折扣後），一律統收70元運費。

        </p>

        <h6>一般情形︰</h6>
        <p>
          1.判定為瑕疵品或商品寄錯，則會退還您寄回的郵資。（補貼郵資上限為70元）
        </p>
        <p>
          2.雙方各自負擔－瑕疵/寄錯商品，又加購其它商品，則不退您寄回的郵資。

        </p>

        <p>
          3.若須派車到府收件，則酌收郵資70元。
        </p>

      </div>

      <div class="straightTab straightTab_odd">
        <h5>7-11取貨付款與純取貨<i class="btr bt-plus bt-sm"></i></h5>

      </div>
      <div class="tabContent" >
        <p>
          特別提醒︰7-11門市取貨付款(純取貨)之訂單如出貨後遇週日，因週日超商不處理出貨事宜，故將延後一天到達指定門市。因此若急需商品者，建議結帳時可多加利用宅配配送。
        </p>

        <p>
          1.商品寄出後，將以mail通知已出貨，若超商物流流程無誤，則商品會於寄出2~3天後到達指定門市。
        </p>

        <p>
          2.商品送達您指定之便利商店門市時，將以手機簡訊通知取貨，煩請留意門市取件手機簡訊通知，請務必於五日內自行攜帶證件至超商付款取貨付款(或取貨)。
        </p>

        <p>
          3.超商取貨訂單完成下單後，歡迎隨時到「系統的-訂單商品查詢」查詢您目前訂單處理進度。
        </p>

        <p>
          4.7-11取貨付款郵資70元，7-11純取貨(先匯款完成後，再至指定7-11做取貨動作)郵資70，但可配合賣場免運規定辦理！
        </p>
        <h6>【門市取貨方式】</h6>
        <p>
          7-11取貨付款：<br>
          待收到「門市取貨」簡訊後，請至您所指定之門市取貨，取貨時告知店員您的姓名，確認包裹姓名是否正確，並支付訂購商品金額即可領取商品。
        </p>

        <p>
          7-11純取貨︰(必須先匯款完成)<br>
          須由收件者本人攜帶身份證至門市核對身份並於標籤處簽名後才可領取商品。
        </p>

        <h6>【門市取貨期限】</h6>
        <p>
          1.因7-11有一定的作業流程，恕無法延長取貨期限，商品送達門市日起算5日內請務必完成取件。
        </p>

        <p>
          2.使用7-11取貨付款(或純取貨)，滿2次未於通知期限內完成門巿取貨，將會被7-11列入黑名單，以後將停止您的帳號使用7-11取貨服務囉！
        </p>

        <p>
          3.訂單成立後，門市取貨時間是無法更改或延長的哦！因每份包裹所配置的條碼都有時效性，一旦逾期，條碼部份門市則無法再刷讀，若您無法在指定期間內領取商品，建議您可請親友代領取，以免包裹退回造成未取件紀錄。
        </p>

        <p>
          4.若您逾期未至門市取貨，商品將會退回捷比童裝，訂單亦將自動取消。如您仍需要該商品，煩請再次重新上網訂購。
        </p>

        <h6>【門市取貨注意事項】</h6>
        <p>
          因便利超商取貨付款有材積限制，若出貨超出標準，小幫手會聯絡您，並請更換其他寄送方式。
        </p>

        <p>
          特別提醒：若因任何無法預期且非捷比童裝造成之不可抗因素(如您所指定的7-11超商門市代收異常/關閉…等)，導致包裹驗收失敗無法順利送達門市，我們將無法恢復訂單重新出貨，訂單將會自行取消；有購物金抵扣將於處理後直接回歸您相關帳戶中，如仍有需要的商品請直接重新選購，並選擇其他門市出貨。
        </p>
        <p>
          訂單送出前，為了保障您的權益，請務必確認取件人手機號碼是否正確並務必填寫與身分證相符的取件人姓名，若因個人填寫資料不正確導致包裹退件，需自付來回運費140元並提供完整資訊以利重新發貨。
        </p>
      </div>
      <div class="straightTab">
        <h5>寄貨時間<i class="btr bt-plus bt-sm"></i></h5>
      </div>
      <div class="tabContent">
        <p>
          週一至週五下午二點前完成付款程序，當天寄出，超過下午二點以次日件計算
          （如遇缺貨、收件資料不齊全、核對不到款項，須等確認無誤後才會出貨）。
        </p>
        <h2>
          周六、日不出貨
        </h2>
      </div>
    </section>
  </artile>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('.leftContent a[href*=notice]').addClass("active");
  })
</script>