<%= stylesheet_link_tag 'css/about', :media => 'all' %>
<%= render 'layouts_partial/left_content' %>
<div class="rightContent">
  <article class="bread">
    <a href="/">首頁</a> > <%= link_to "商家資訊", store_sites_path %>
  </article>

  <artile class="aboutCenter">
    <%= image_tag "about/store.jpg"%>
    <section>
      <% StoreInfo.all.each do |store| %>
        <div class="straightTab straightTab_odd">
          <h4><%= store.caption %></h4>
          <span><%= store.phone %></span>
          <span><%= store.address %><i class="btr bt-plus bt-sm"></i></span>
        </div>
        <div class="tabContent">
          <iframe src=<%= store.content %> width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      <% end -%>
    </section>
  </artile>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('.leftContent a[href*=store]').addClass("active");
  })
</script>