<p class="login-box-msg">忘記密碼?</p>
<%= simple_form_for resource, as: resource_name, url: session_path(resource_name)  do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, wrapper: :bootstrap, autofocus: true, placeholder: "郵件地址", icon: "fa-envelope" %>

  <div class="actions">
    <%= f.submit "重設密碼", class: "btn btn-primary btn-block btn-flat" %>
  </div>
<% end %>

<%= render "admin/supervisors/shared/links" %>
