<%= stylesheet_link_tag 'css/forget' %>
<div id="forget">
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h1>忘記密碼</h1>
    <p><%= f.email_field :email, autofocus: true, placeholder: "電子郵件" %></p>
      <%= render "users/shared/links" %>
    <%= f.button "發送密碼" %>
  <% end %>
</div>


