<%= stylesheet_link_tag 'css/index' %>
<%= stylesheet_link_tag 'css/distractful' %>
<!-- BannerStart	----------------------------------------------------------- -->
<article class="banner">
  <section class="distractful text-center">
    <div class="distractful-item">
      <%= image_tag "index/banner0.jpg" %>
      <div class="col-md-6 col-md-offset-3">
      </div>
    </div>
    <div class="distractful-item">
      <%= image_tag "index/banner1.jpg" %>
      <div class="col-md-6 col-md-offset-3 text-left">
      </div>
    </div>
    <div class="distractful-item">
      <%= image_tag "index/banner2.jpg" %>
      <div class="col-md-6 col-md-offset-3 text-left">
      </div>
    </div>
  </section>
</article>
<!-- BannerEnd	----------------------------------------------------------- -->
<div class="inner">
  <aside>
    <a class="asideItems">
      <%= image_tag "index/aside0.jpg"  %>
    </a>
    <a class="asideItems">
      <%= image_tag "index/aside1.jpg" %>
    </a>
    <a class="asideItems">
      <%= image_tag "index/aside2.jpg" %>
    </a>
  </aside>
  <article class="brand">

    <a href="javascript:;">
      <%= image_tag "index/brand2.jpg" %>
    </a>
    <a href="javascript:;">
      <%= image_tag "index/brand3.jpg" %>
    </a>
    <a href="javascript:;">
      <%= image_tag "index/brand4.jpg" %>
    </a>
    <a href="javascript:;">
      <%= image_tag "index/brand5.jpg" %>
    </a>
    <a href="javascript:;">
      <%= image_tag "index/brand6.jpg" %>
    </a>
    <a href="javascript:;">
      <%= image_tag "index/brand7.jpg" %>
    </a>
    <a href="javascript:;">
      <%= image_tag "index/brand0.jpg" %>
    </a>
    <a href="javascript:;">
      <%= image_tag "index/brand1.jpg" %>
    </a>
  </article><!--    #brandEnd		 -->
  <article class="gridOne">
    <h1>可愛女童</h1>
    <div class="left">
      <a class="bigGrid gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product0.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="right">
      <div class="twoGirdBox">
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product1.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product2.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
      </div>
      <a class="singleGird gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product3.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>
    </div>
    <a class="center more en" href="#">more +</a>
  </article>
  <article class="gridOne gridTwo">
    <h1>帥氣男童</h1>
    <div class="right">
      <div class="twoGirdBox">
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product5.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product6.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
      </div>
      <a class="singleGird gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product7.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="left">
      <a class="bigGrid gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product4.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>

    </div>
    <a class="center more en" href="#">more +</a>
  </article>
  <article class="gridThird">
    <h1>嬰幼兒</h1>


    <a class="singleGird gridImg" href="javascript:;">
      <figure>
        <%= image_tag "index/product8.jpg" %>
        <figcaption>
          <h2>DooSun豆山【JD4388】</h2>
          <h3>花拼接領條紋無袖上衣</h3>
          <h4 class="prize en">$250</h4>
        </figcaption>
      </figure>
    </a>
    <a class="singleGird gridImg" href="javascript:;">
      <figure>
        <%= image_tag "index/product12.jpg" %>
        <figcaption>
          <h2>DooSun豆山【JD4388】</h2>
          <h3>花拼接領條紋無袖上衣</h3>
          <h4 class="prize en">$250</h4>
        </figcaption>
      </figure>
    </a>

    <a class="singleGird gridImg" href="javascript:;">
      <figure>
        <%= image_tag "index/product13.jpg" %>
        <figcaption>
          <h2>DooSun豆山【JD4388】</h2>
          <h3>花拼接領條紋無袖上衣</h3>
          <h4 class="prize en">$250</h4>
        </figcaption>
      </figure>
    </a>
    <a class="singleGird gridImg" href="javascript:;">
      <figure>
        <%= image_tag "index/product14.jpg" %>
        <figcaption>
          <h2>DooSun豆山【JD4388】</h2>
          <h3>花拼接領條紋無袖上衣</h3>
          <h4 class="prize en">$250</h4>
        </figcaption>
      </figure>
    </a>
    <p class="blankH20"></p>
    <a class="center more en" href="#">more +</a>
  </article>

  <article class="gridfour">
    <h1>最新商品</h1>

    <div class="left">
      <a class="singleGird gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product17.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>
      <a class="singleGird gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product18.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="right">
      <div class="twoGirdBox">
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product15.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product16.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
      </div>

    </div>
    <a class="center more en" href="#">more +</a>
  </article>
  <article class="gridfour">
    <h1>人氣熱賣</h1>

    <div class="right">
      <div class="twoGirdBox">
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product19.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
        <a class="twoGird gridImg" href="javascript:;">
          <figure>
            <%= image_tag "index/product20.jpg" %>
            <figcaption>
              <h2>DooSun豆山【JD4388】</h2>
              <h3>花拼接領條紋無袖上衣</h3>
              <h4 class="prize en">$250</h4>
            </figcaption>
          </figure>
        </a>
      </div>

    </div>

    <div class="left">
      <a class="singleGird gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product21.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>
      <a class="singleGird gridImg" href="javascript:;">
        <figure>
          <%= image_tag "index/product22.jpg" %>
          <figcaption>
            <h2>DooSun豆山【JD4388】</h2>
            <h3>花拼接領條紋無袖上衣</h3>
            <h4 class="prize en">$250</h4>
          </figcaption>
        </figure>
      </a>

    </div>
    <a class="center more en" href="#">more +</a>
  </article>

</div>