<%= stylesheet_link_tag 'css/index' %>
<%= stylesheet_link_tag 'css/distractful' %>
<!-- BannerStart	----------------------------------------------------------- -->
<article class="banner">
  <section class="distractful text-center">
    <% Banner.where(parent_id: 0).first.sub_banners.each do |item| %>
      <div class="distractful-item">
        <%= image_tag item.picture.url %>
        <div class="col-md-6 col-md-offset-3 text-left"></div>
      </div>
    <% end %>
  </section>
</article>
<!-- BannerEnd	----------------------------------------------------------- -->
<div class="inner">
  <aside>
    <a class="asideItems">
      <%= image_tag "index/aside0.jpg"  %>
    </a>
    <a class="asideItems">
      <%= image_tag "index/aside1.jpg" %>
    </a>
    <a class="asideItems">
      <%= image_tag "index/aside2.jpg" %>
    </a>
  </aside>
  <!-- home grid -->
  <% HomeGrid.where(parent_id: 0).order(:seq).each do |grid| %>
    <% case grid.template_id.to_s %>
      <% when "1" %>
        <%= render 'layouts_partial/home_grid_1', data: grid %>
      <% when "2" %>
        <%= render 'layouts_partial/home_grid_2', data: grid %>
      <% when "3" %>
        <%= render 'layouts_partial/home_grid_3', data: grid %>
      <% when "4" %>
        <%= render 'layouts_partial/home_grid_4', data: grid %>
      <% when "5" %>
        <%= render 'layouts_partial/home_grid_5', data: grid %>
      <% else %>
        <%= render 'layouts_partial/home_grid_6', data: grid %>
    <% end %>
  <% end %>

</div>