<%= stylesheet_link_tag 'css/inside' %>
<%= stylesheet_link_tag 'css/products' %>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<% if !@menus.nil? %>
  <aside class="nav sideMenu">
    <ul class="nav__list ">
      <% @menus.each do |menu| %>
        <%= render 'layouts_partial/category_menu', :menus => menu['children'] %>
      <%end%>
    </ul>
  </aside>
<%end%>
<div class="right">
  <% if !@cate_banners.nil? %>
    <article class="banner">
      <section class="cycle-slideshow"
               data-cycle-fx="scrollHorz"
               data-cycle-timeout="5000"
               data-cycle-pager="#bannerMenu"
               data-cycle-slides="img" >
        <% @cate_banners.pictures.each do |picture|%>
          <a href="javascript:;"><%= image_tag picture.asset, {width: "100%"}  %></a>
        <%end -%>
      </section>
      <div id="bannerMenu">
      </div>
    </article>
  <%end%>
  <article class="bread">
    <%= @c_bread.html_safe unless @c_bread.nil? %>
    <div id="pager">
      <ul class="yiiPager">
        <%= paginate @products %>
      </ul>
    </div>
  </article>
r
  <article class="products">
    <% @products.each do |item| %>
      <%= render 'layouts_partial/item', data: item %>
    <%end%>
    <div id="pager" class="center">
      <ul class="yiiPager">
        <%= paginate @products %>
      </ul>
    </div>
  </article>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    var myElem = document.getElementsByClassName('nav sideMenu');
    if (myElem.length == 0){
      $(".right").css("width","97%");
      $(".bread").css("display","none");
    }
  });
</script>