<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>JayBee捷比童裝</title>
  <%= favicon_link_tag 'main/icon.ico' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css" type='text/css'/>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".share").hideshare({
        link: "http://www.jaybee.com/",
        position: "top"
      });
    });
  </script>
</head>
<body>
<div id="layout">
  <div id="back"><i class="btr bt-circle-arrow-up bt-2x"></i></div>
  <!-- feedback -->
  <%= render "layouts_partial/feedback" %>
  <!-- header -->
  <%= render "layouts_partial/header" %>
  <div id="content">
    <%= yield %>
  </div>
  <!-- footer -->
  <%= render "layouts_partial/footer" %>
</div>

</body>
</html>